body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.Orange{
    color: orange;
}
.fa{
    display: flex;
    margin-bottom: 200px;
}
.hw{
    width: 50%;
    padding-left: 5%;
}
.hw img{
    width: 70%;
}
.lb{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px 20px;
}
.bg-ban{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.bg-ban2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
.exp-item{
    box-shadow: 10px 10px 40px black;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px solid blue;
    border-radius: 10px;   
}
#fs{
    border-left: 10px solid tomato;
}
#bw{
    border-left: 10px solid blue;
}
footer p{
    text-align: center;
}